<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Datos asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
       <ion-list>
        <ion-item>
           <ion-title color="light">Alumno presente</ion-title>
        </ion-item>
        <ion-item>
          <ion-label >ramo:</ion-label>
          <ion-label>Arquitectura</ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Fecha:</ion-label>
          <ion-label>06/09/2022</ion-label>
        </ion-item>
        <ion-item>
          <ion-label >Hora:</ion-label>
          <ion-label>15:40</ion-label>
        </ion-item>
       </ion-list>
      
    </ion-card>

</ion-content>
