ion-toolbar{
    --ion-background-color:#b7c3a7
}
ion-content{
    --ion-background-color:grey;
    ion-item {
         --ion-background-color:black;
    }
        ion-label {
            --color: #d9dcdf;
        }
    }
    


