<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/logo-duoc.png" class="ion-padding">
  

  <ion-item>
     <center> <img src="assets/sala.jpg" class="ion-padding"> </center>

    </ion-item>
  <ion-item>
    <h6>aplicación dedicada para facilitar
       la toma de asistencia, tanto al profesor 
       como a lo alumnos</h6>
  </ion-item>
  <ion-item>
    
     <ion-icon slot="start" name="pencil-outline"></ion-icon>
  </ion-item>

</ion-card>

</ion-content>
