<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" ></ion-icon>
       
       </ion-button>
       <ion-icon slot="end" name="camera-outline" color="secundary"></ion-icon>
    </ion-buttons>
    <ion-title>asistencia</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <img src="assets/celu-qr.jpg" class="ion-padding">
    <ion-item>
      <ion-button (click)="onClick()" expand="full" fill="outline" shape="round" routerLink="/asistiempo">
        Escanear
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
