ion-toolbar{
    --ion-background-color:#b7c3a7
}
ion-content{
    ion-button {
        --padding-bottom: 4px;
        --padding-end: 4px;
        --padding-start: 4px;
        --padding-top: 4px;
        padding-left: 8%;
        padding-top: 4%;

    }
}


