<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Sebastian Barriga</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Javiera Soto</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Nyckolas Diaz</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Kevin Heresmann</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Said Morales</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
