ion-toolbar{
    --ion-background-color:#b7c3a7
}
ion-content{
    --ion-background-color:rgb(106, 136, 63);
    ion-card {
        ion-col {
           color: whitesmoke;
        }
       
       
    }
}


