<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title>introducción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
         <ion-col>
          <div class="ion-text-center">
              <h6>A base de las múltiples dificultades que se crearon tras la llegada de la pandemía,
               sobre todo en el area escolar, como sabemos muchas cosas ahora son por medio Online, 
               donde hemos podido evidenciar que muchas veces se caen,
               no quedamos presente o diversos errores que pueden ser variados.</h6>
       
              <h6> 
               Por ello creamos una solución para esto, una página en donde el alumno pueda realizar
               de manera autonoma cosas que normalmente solo puede el docente,
               de esta manera ver nuestra asistencia y múltiples tareas.
                La finalidad de esto es lograr un mayor avance en la educación, ayudando las labores docentes y evitando confusiones.</h6>
          </div>
          </ion-col>
          <ion-item>
             <img src="assets/Duoc_UC_-_Sede_Maipú.jpg" class="ion-padding">
          </ion-item>
        
  </ion-card>

</ion-content>
